{% block intl_tel_type_widget %}
    {% spaceless %}
        {% set id = random() %}

        {{ form_widget(form,{'type': 'tel', 'attr': {'data-intl-tel': id }}) }}


        <script type="text/javascript" >
            $(document).ready(function() {
                window.intlTelInput(document.querySelector("[data-intl-tel='{{ id }}']"), {
                    initialCountry: 'fr',
                    numberType: 'FIXED_LINE_OR_MOBILE',
                });
            });
        </script>
    {% endspaceless %}
{% endblock %}
